{{!--------------- derniers articles postés -----------------------}}


<section class="m-5 p-3" style="background-color:rgba(0, 250, 154, 0.75) ;">
    <div class="container">
        <div class="row  d-flex justify-content-around">
            {{#each ArticleReverseLimited }}
            <div class="col-md-4 p-3 ">
                <div class="card Mycard " style="width: 100%;">
                    <img src="{{ image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> {{ title }} </h5>
                        <p class="card-text" id="demo"> {{content}}
                        </p>
                        <p>Publié le {{ moment createDate format="DD-MM-YYYY"}}</p>
                        <div class="row">
                            <div class="col-md-12 ">
                                <a href="/ArticleSingle/{{_id}}" class="btn btn-info shadow">Voir l'article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each }}
        </div>
    </div>
</section>


