{{#if isAdmin}}

<section class="m-5 ">
  <!-- Button trigger modal ajouter un article -->
  <div class="row d-flex justify-content-center ">
    <button type="button" class="btn btn-info  " data-toggle="modal" data-target="#exampleModal">
      Creer un article
    </button>
  </div>

  <!-- Modal ajouter un article -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Creer un article</h5>
        </div>

        <form action="/Article" method="post" enctype="multipart/form-data">
          <div class="modal-body">

            <div class="form-group">
              <label for="formGroupExampleInput">Titre :</label>
              <input type="text" class="form-control" name='title' id="formGroupExampleInput">
            </div>
            <div class="control">
              <textarea class="textarea" name="content"></textarea>
              <script>CKEDITOR.replace('content');</script>
            </div>
            <div class="form-group m-2">
              <label>Photo :</label>
              <input type="file" class="form-control" name='image'>
            </div>
            <div class="form-group">
              <label>Photos galleries:</label>
              <input type="file" class="form-control" name='imageGallery' multiple>
            </div>
          </div>
          
          <div class="modal-footer ">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{/if}}

<section class="m-5 p-3">
  <div class="container">
    <div class="row">
      {{#each dbArticle}}
      <div class="col-md-4 ">
        <div class="card Mycard  m-3 p-3" style="width: 100%;">
          <div class="row">
            <div class="col-md-12">
              <img src="{{ image }}" class="card-img-top" alt="..."
                style="max-width: 350px; max-height: 200px; display: block;">
            </div>
          </div>

          <div class="container">
            <div class="row">
              {{#each imageGallery}}
              <img src="{{ filename }}" class="card-img-top m-2" alt="{{ fieldname }}"
                style="height:60px; width: 60px;">
              {{/each}}
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title"> {{ title }} </h5>
            <p class="card-text textLimit" style="text-align: justify;"> {{ content }}
            </p>
            <p>Publié le {{ moment createDate format="DD-MM-YYYY"}}</p>
          </div>
          <div class="row mx-auto">
            <div class="col-md-12">
              <a href="/ArticleSingle/{{_id}}" class="btn btn-info shadow">Voir l'article</a>
            </div>
          </div>
        </div>
      </div>
      {{/each }}
    </div>
  </div>
</section>

<style> 
        .textLimit{ 
            overflow: hidden; 
            text-overflow: ellipsis; 
            display: -webkit-box; 
            line-height: 16px;  
            max-height: 320px;      
              
            /* The number of lines to be displayed */ 
            -webkit-line-clamp: 5;  
            -webkit-box-orient: vertical; 
        } 
    </style> 