<h1 class="font-weight-bold text-center m-5 d-flex justify-content-end">Vanessa Binet - ASG -</h1>


<section>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12">
       
          <h1 class="text-center">
            <font face="URW Chancery L, cursive">{{ dbArticle.title }}</font>
          </h1>

          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-md-8 ">
                <a href="{{ dbArticle.image }}"><img src="{{ dbArticle.image }}" class="card-img-top" alt="..."
                    style="max-width: 650px; max-height: 550px; display: block;"></a>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-8 ">
                {{#each dbArticle.imageGallery}}
                <a href="{{ filename }}" ><img src="{{ filename }}" class="card-img-top m-2" alt="{{ fieldname }}"
                    style="height:120px; width: 120px;"></a>
                {{/each}}
              </div>
            </div>
          </div>


          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="card-body">
                    <h4 class="card-text" style="text-align: justify;"> {{dbArticle.content}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-4 ">
                <h3 class="p-2"> <u>Publié le {{ moment dbArticle.createDate format="DD-MM-YYYY" }}</u>
                </h3>
                {{#if isAdmin}}
              </div>
            </div>
          </div>

          <div class="container d-flex justify-content-center">
            <div class="row">
              <div class="col-md-5 ">
                {{!-- Button trigger modal modifier--}}
                <button type="submit" class="btn btn-warning" data-toggle="modal"
                  data-target="#modalModifArticle{{_id}}"> <i class="fas fa-pencil-alt"></i>
                  Modifier un article</button>
              </div>
              <div class="col-md-6">
                {{!-- Button trigger modal sup article --}}
                <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#supArticle{{_id}}"><i
                    class="fas fa-trash-alt"></i> Supprimer un
                  article
                </button>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>

{{> ArticleSingle/Commentaire}}

{{!-- Modal Modifier un article --}}
<div class="modal fade" id="modalModifArticle{{_id}}" tabindex="-1" role="dialog" aria-labelledby="modalModifArticle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier un article</h5>
      </div>
      <form action="/ArticleSingle/{{dbArticle.id}}?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label>Titre :</label>
            <input type="text" class="form-control" name='title' id="formGroupExampleInput"
              value="{{ dbArticle.title }}">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Contenu :</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"
              name="content"> {{ dbArticle.content }} </textarea>
            <script>CKEDITOR.replace('content');</script>
          </div>

          <div class="form-group">
            <label>Photos :</label>
            <input type="file" class="form-control" name='image'>
          </div>

          <div class="form-group">
            <label>Photos galleries:</label>
            <input type="file" class="form-control" name='imageGallery' multiple>
          </div>


          <div class="modal-footer">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-warning m-3" data-dismiss="modal">Annuler</button>
              </div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-danger m-3">Confirmer</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


{{!-- Modal supprimer Article --}}

<form action="/ArticleSingle/{{dbArticle.id}}/?_method=DELETE" method="post">
  <div class="modal fade" id="supArticle{{_id}}" tabindex="-1" role="dialog" aria-labelledby="supArticle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Etes-vous sûr de supprimer l'article {{ title }} <span style="color:red">
              {{dbArticle.title}} </span> ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
          <button type="submit" class="btn btn-success">Oui</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="/assets/js/lightbox.js" type="module" defer></script>