<section>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    <h4>Email</h4>
                </th>
                <th>
                    <h4>Message</h4>
                </th>
                <th>
                    <h4>Reçu le</h4>
                </th>
                <th>
            </tr>
            </tr>
        </thead>
        {{#each dbMessage}}
        <tbody>
            <tr>
                <td style="width: 30%">
                    <h5>{{email}}</h5>
                </td>
                <td style="width: 25%">
                    <h5>{{message}}</h5>
                </td>
                <td style="width: 10%">
                    <h5>{{moment createDate format="DD-MM-YYYY, HH:mm"}}</h5>
                </td>
                <td style="width: 15%">

                    <!-- Button trigger modal delete Message -->
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#modalDeleteMessage{{_id}}">
                        <i class="fas fa-trash-alt"></i>
                    </button>


                    <!-- Button trigger modal affiche Message -->
                    <a class="btn btn-info" data-toggle="modal" data-target="#modalAfficheMessage{{_id}}" role="button">
                        <h5>Voir le message</h5>
                    </a>


                    {{!-- <button type="button" class="btn " data-toggle="modal"
                        data-target="#modalAfficheMessage{{_id}}">
                        Voir le message
                    </button> --}}
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</section>



<!-- Modal Btn Supprimer -->

{{#each dbMessage}}
<div class="modal fade" id="modalDeleteMessage{{_id}}" tabindex="-1" role="dialog"
    aria-labelledby="modalDeleteMessageLabel" aria-hidden="true">

    <form action="/Contact/{{_id}}/?_method=DELETE" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title h5admin" id="modalDeleteArticleLabel">Etes-vous sûr de supprimer le message
                        de
                        <span style="color:red"> {{email}}</span> ?</h5>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Confirmer</button>
                </div>
            </div>
        </div>
    </form>
</div>
{{/each}}

<!-- Modal Btn voir message -->

{{#each dbMessage}}
<div class="modal fade" id="modalAfficheMessage{{_id}}" tabindex="-1" role="dialog"
    aria-labelledby="modalAfficheMessageLabel" aria-hidden="true">


    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <h4 class="modal-title h5admin" id="modalAfficheMessageLabel">Message de
                        <span style="color:red"> {{ author }}</span> </h5>
                    </h4>
                    
                    <form action="/Contact/{{_id}}?_method=PUT" method="post" enctype="multipart/form-data">
                         <button type="submit" class="btn btn-warning" data-dismiss="modal">Lu</button>
                    </form>
                </div>
            </div>
            <div class="modal-body">
                <p> {{ view }}</p>
                <p> <span style="text-decoration: underline; font-weight:bold; ">adresse mail:</span> {{ email }}</p>
                <p><span style="text-decoration: underline;font-weight:bold;">Objet:</span> {{ subject}}</p>
                <p> <span style="text-decoration: underline;font-weight:bold;">Message:</span> {{ message }}</p>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>

</div>
{{/each}}